body {
	font-family: Arial, sans-serif;
	background: linear-gradient(to bottom right, #FFD900, #FFA500);
}

h1 {
	text-align: center;
	margin-top: 30px;
	font-size: 36px;
	color: #333333;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.profile img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.profile h2 {
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #333333;
}

.profile p {
	font-size: 20px;
	margin: 0;
	color: #666666;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding: 0 20px;
}

.link {
	background-color: #FFFFFF;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #333333;
	transition:
